@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:letter"]{
	margin-left: 0;
	margin-right: 0;
}

[epub|type~="z3998:letter"] header,
[epub|type~="z3998:letter"] > header + p{
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="se:letter.dateline"]{
	margin-top: 1em;
	text-align: right;
	font-style: italic;
}

[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span.i1{
	padding-left: 2em;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

[epub|type~="z3998:sender"]{
	font-variant: small-caps;
}

#chapter-3 blockquote [epub|type~="z3998:salutation"] + p{
	text-align: center;
	font-variant: small-caps;
}

[epub|type~="z3998:song"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}
